<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>

<!--------- Navigation --------->
<nav th:insert="fragments.html :: nav"></nav>
<!-------- Main Content -------->
<article>
    <!------- Internal Navigation ------->
    <nav class="customer-nav">
        <span th:each="link : ${allLinks}">
            <a th:href="@{${link.getKey()}}"><button th:text="${link.getValue()}"></button></a>
        </span>
    </nav>
    <div class="welcome" id="clock"></div>


    <div class="accountbox" th:unless="${selectedTransaction == null}">
        <label class="transactionlabel" type="text" th:text="${transactionInfo.split(',')[0]}"></label>
        <label class="display" type="text" th:text="${transactionInfo.split(',')[1]}"></label>
    </div>

    <div class="accountbox" th:unless="${selectedTransaction == null}">
        <label class="transactionlabel" type="text">Naam: </label>
        <label class="display" type="text" th:text="${transactionInfo.split(',')[2]}"></label>
    </div>

    <div class="accountbox" th:unless="${selectedTransaction == null}">
        <label class="transactionlabel" type="text">Bedrag: </label>
        <label class="display" type="text" th:text="${selectedTransaction.amountToString()}"></label>
    </div>

    <div class="accountbox" th:unless="${selectedTransaction == null}">
        <label class="transactionlabel" type="text">Beschrijving:  </label>
        <label class="display" type="text" th:text="${selectedTransaction.description}"></label>
    </div>

    <button><a class="overschijving" href="customerPage">Terug naar dashboard</a></button>
</article>

<!--------- Footer --------->
<footer>
    <p>BeeHive Bank &copy; 2019</p>
</footer>
<div th:replace="fragments.html :: clockwelcome"></div>
</body>
</html>